<!DOCTYPE html>

class {
    handleChange() {
        // Only emit email-changes if they are valid.
        this.emit("email-change", { drink: $('#drink') });
        $.post("/menu",function(data){
            if(data==='done') {
                window.location.href="/admin";
            }
        });
    }
  }
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Manage Opportunities</title>

        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        
        <script>
            $(document).ready(function(){

            var drink
            $("#submit").click(function(){
                drink=$("#drink").val()
                
                $.post("/menu",{drink:drink},function(data){
                    if(data==='done' && drink !='') {
                        window.location.href="/admin"
                    }
                    else{
                        alert("Please Input Drink")
                    }
                })
            })

       

            var email,pass
            $("#logOut").click(function(){
                  email="";
                  pass="";
                  
                  $.post("/login",{email:email,pass:pass},function(data){
                      if(data==='done') {
                          window.location.href="/logout"
                      }
                  })
            })

            $("#manage").click(function() {
                window.location.href="/admin"
            })
                        
            });

            </script>
    </head>
    <body>
        <div class="navbar">
            <h1>${input.greeting}</h1>
            <input type="button" value="log out" id="logOut" onclick("logOut")>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 style="padding-left: 0;">Menu</h2>


                <div class="form-group">
                    <div class="row">
                        <label class="form-label" for="drink">Custom Drink: </label>
                        <input class="form-control" type="text" id="drink" name="drink"><br><br>
                    </div>
                </div>

                <input type="checkbox" id="vodkaCran" name="vodkaCran" value="vodkaCran">
                <label for="vodkaCran"> Vodka Cranbarry</label><br>
                <input type="checkbox" id="rumCoke" name="rumCoke" value="rumCoke">
                <label for="rumCoke"> Rum & Coke</label><br>
                <input type="checkbox" id="billCosby" name="billCosby" value="billCosby">
                <label for="billCosby"> Bill Cosby</label><br>
                <input type="checkbox" id="screwDriver" name="screwDriver" value="screwDriver">
                <label for="screwDriver"> Screw Driver</label><br><br>
                <input type="submit" value="Submit" id="submit" onclick("handleChange")>

                <!-- <div class="form-group">
                    <div class="row">
                        <div class="col-3" style="padding-left: 0;">
                            <input type="button" value="Add Opportunity" id="addOpportunity">
                        </div>
                        <div class="col-3" style="padding-left: 0;">
                            <input type="button" value="Manage" id="manage">
                        </div>
                    </div>
                </div> -->
                <div class="col-3" style="padding-left: 0;">
                    <input type="button" value="Manage" id="manage">
                </div>
            </div>
        </div>
    </body>
</html>