<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Manage Volunteers</title>

        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
                var email,pass
                $("#logOut").click(function(){
                  email="";
                  pass="";
                  $.post("/login",{email:email,pass:pass},function(data){
                      if(data==='done') {
                          window.location.href="/logout"
                      }
                  })
                })

                $("#complete").click(function(){
                    alert("complete has  been cklickdlsfjd")
                  drink="";
                  $.post("/menu",{drink:drink},function(data){
                      if(data==='done') {
                          window.location.href="/admin"
                      }
                  })
                })

                $("#addVolunteer").click(function() {
                window.location.href="/addVolunteer"
                })
                $("#manage").click(function() {
                window.location.href="/admin"
                })

            });
            function manage(id, option) {
                    if (option == 0){
                        $.post("/deleteVolunteer",{id:id},function(data){
                            if(data==='done') {
                                window.location.href="/orders"
                            }
                        })
                    }
                    if (option == 1){
                        window.location.href="/editVolunteer/" + id
                    }
                }
        </script>
    </head>
    <body>
        
        <div class="navbar">
            <!-- <h1>${input.greeting}</h1> -->
            <h1 style="padding-left: 0;">Orders:</h1>

            <h2>${input.drink}</h2>
            <input type="button" value="log out" id="logOut" onclick("logOut")>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">


                <div class="row">
                    <div class="col-3" style="padding-left: 0;">
                        <input type="button" value="Home Page" id="manage">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-3" style="padding-left: 0;">
                        <input type="button" value="Complete" id="complete" onclick("complete")>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>